In [4]:
def is_empty(s):
    return len(s) == 0

is_empty(str())

True

In [15]:
def empty_list(x):
    return [i for i in x if i != []]

empty_list([5, 6, [], 3, [], [], 9])

[5, 6, 3, 9]

In [21]:
x_s = [600, 470, 170, 430, 300]
import math
# PROMEDIO  
promedio = sum(x_s)/len(x_s)
promedio

394.0

In [120]:
# VARIANZA
dif_sq = 0
for i in x_s:
    dif_sq += ((i - promedio) ** 2)
varianza = dif_sq/len(x_s)

In [123]:
# Desv. Estandar
desv_estandar = math.sqrt(varianza)
desv_estandar

147.32277488562318

In [252]:
a1 = [1,2] + [4] + [9,8,6]
a2 = sum([[1,2] + [4] + [9,8,6]],[])
b1 = (2,4,5) + (6,) + (9,8,7)
b2 = sum([(2,4,5) + (6,) + (9,8,7)], ())

# Write a function which receives a non-empty list whose elements are either numbers, lists, or tuples
# and adds them up (note, in each test all elements will be of the same type, so that adding is possible).
# add_it_up([4, 14, 17, 10]) ➞ 4+14+17+10 ➞ 45
# add_it_up([[1,2],[4],[9,8,6]]) ➞ [1,2]+[4]+[9,8,6] ➞ [1,2,4,9,8,6]
# add_it_up([(2,4,5),(6,),(9,8,7)]) ➞ (2,4,5)+(6,)+(9,8,7) ➞ (2,4,5,6,9,8,7)

def add_it_up(lst):
    if len(lst) != 0:
        new_lst = []
        for i in lst:
            new_lst.append(sum(i))
        return sum(new_lst)
    else:
        return False
add_it_up([(2,4,5), (6,), (9,8)])

34

In [277]:
def length(s):
    if s:
        return length(s[:-1]) + 1
    return 0
length('apple')

5

In [345]:
def end_corona(recovers, new_cases, active_cases):
    i = 1
    ac = active_cases + new_cases - recovers
    while ac > 0:
        i += 1
        ac += (new_cases - recovers) 
    else:
        return math.ceil(i)

def end_corona1(recovers, new_cases, active_cases):
    return math.ceil(active_cases/(recovers - new_cases))
    
        
print(end_corona(4000, 2000, 77000))
print(end_corona1(4000, 2000, 77000))

39
39

In [411]:
def cars_needed(n):
    if n > 0:
        return math.ceil(n/5)
    else:
        return 0
      
cars_needed(0)

0

In [427]:
set1 = [9, 3, 9, 10, 10, 7, 7]

set2 = list(set(set1))
set2.sort()
print(set2)

set3 = []
[set3.append(i) for i in set1 if i not in set3]
set3.sort()
print(set3)

[3, 7, 9, 10]
[3, 7, 9, 10]

In [494]:
# count_characters(["###", "###", "###"]) ----> 9
def count_characters(lst):
    if len(lst) > 0:
        count = []
        for i in lst:
            count.append(len(i))
        return sum(count)
    else:
        return 0
count_characters(["",""])

0

In [9]:
def count_characters(lst):
    return sum([i for i in lst])
count_characters('hola')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [509]:
import math
math.factorial(9)

362880

In [50]:
def paths(n):
    fact = 1
    while (n > 1):
        fact *= n
        n -= 1              
    return fact

paths(3)

6

In [1]:
def count_vowels(txt):
    vowels = ['a', 'e', 'i', 'o', 'u']
    
      
# count_vowels("Celebration") ➞ 5

In [32]:
def filter_list(lst):
    L =[]
    for i in lst:
        if isinstance(i, int):
            L.append(i)
    return L               
        
filter_list([1, 2, "a", "b"])

[1, 2]

In [53]:
import math
def weight(r, h):
    area = math.pi * math.pow(r,2) 
    calculation = ((area * h)/1000)
    return round(calculation, 2)

weight(4, 10)

0.5

In [1]:
import numpy as np
def list_operation(x, y, n):
    return np.arange(x,y,n) 
    
    
    
    
list_operation(7, 9, 2)

#list_operation(15, 20, 7) ➞ []

array([7])

In [9]:
def count_vowels(txt):
    vow = ['a', 'e', 'i', 'o', 'u']
    return sum(txt.count(i) for i in vow)

#def countVowels(string):
#  vowels = ['a','e','i','o','u']
#  total = 0
#  for i in string:
#     if i in vowels:
#         total += 1
#   return total

def count_vowels(txt):
  return sum([1 for i in txt.lower() if i in 'aeiou'])
    
count_vowels("Celebration")

5

In [105]:
def double_char(txt):
    return ''.join(i*2 for i in txt)
        
double_char("Hello World!")

'HHeelllloo  WWoorrlldd!!'

In [113]:
def next_in_line(lst, num):
    if len(lst) != 0:
        lst.pop(0)
        lst.append(num)
        return lst            
    else:
        return 'No list has been selected'
next_in_line([], 6)

#next_in_line([], 6) ➞ "No list has been selected"

'No list has been selected'

In [64]:
def sum_numbers(n):
    if n <= 1:
        return n
    return n + sum_numbers(n-1)
        
sum_numbers(3)

6

In [66]:
def correct_signs(txt):
    return eval(txt)

correct_signs("13 > 44 > 33 > 1")

False

In [98]:
def relation_to_luke(name):
    family = {'Darth Vader': 'father','Leia':'sister','Han':'brother in law','R2D2':'droid'}
    if name in family.keys():
        return "Luke, I am your {}.".format(family[name])
            

relation_to_luke('Darth Vader')

'Luke, I am your father.'

In [6]:
def count_ones(num):
    return bin(num).count('1')

count_ones(999)

def count_ones(num):
    return sum([1 for i in bin(num) if i == '1'])
count_ones(999)

8

In [9]:
import math
def cone_volume(h, r):
    return round(math.pi*math.pow(r,2)*h/3,2) if r > 0 else 0

cone_volume(3, 2)

12.57

In [50]:
def XO(txt):
    if txt.lower().count('x') == txt.lower().count('o'):
        return True
    elif txt.lower().count('x') != txt.lower().count('o'):
        return False
    elif 'xo' not in txt.lower():
        return True
    else:
        False
    
    
XO("ooxx")

#XO("xooxx")

#XO("ooxXm")
# Case insensitive.

#XO("zpzpzpp")
# Returns True if no x and o.

#XO("zzoo")

True

In [55]:
def XO(text):
    return text.lower().count('x') == text.lower().count('o')
XO("ooxXm")

True

In [90]:
def unique_sort(lst):
    return sorted(set(lst))
          
    
unique_sort([1, 2, 4, 3])

#unique_sort([1, 4, 4, 4, 4, 4, 3, 2, 1, 2]) ➞ [1, 2, 3, 4]

#unique_sort([6, 7, 3, 2, 1]) ➞ [1, 2, 3, 6, 7]

[1, 2, 3, 4]

In [115]:
def factorial(n):
    return 1 if n==1 or n==0 else n*factorial(n-1)
S
def factorial(n):
    if n == 0 or n == 1: 
        return 1
    else: 
        fact = 1
        while(n > 1): 
            fact *= n 
            n -= 1
        return fact 

factorial(3)

6

In [94]:
def find_odd(lst):
    #for i in lst:
   #     if lst.count(i)%2 == 1:
    #        return i
        
    return [i for i in lst if lst.count(i)%2 == 1]
    
find_odd([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5])

[-1]

In [170]:
def mood_today(mood='neutral'):
    if mood:
        return "Today, I am feeling {}".format(mood)
    else:
        return "Today, I am feeling " + mood
        
mood_today()

'Today, I am feeling neutral'

In [41]:
def missing_num(lst):
    return [i for i in range(1,11) if i not in lst]
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

[7]

In [50]:
def missing_num(lst):
    lista = np.arange(1,11)
    for i in lista:
        if i not in lst:
            return i
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [55]:
#def evenly_divisible(a, b, c):
  #  lista = []
 #   for i in range(a,b+1):
  #      if i%c == 0:
   #         lista.append(i)
    #return sum(lista)

def evenly_divisible(a, b, c):
    return sum(i for i in range(a, b+1) if not i%c)

evenly_divisible(1, 10, 3)

18

In [67]:
def alphabet_soup(txt):
    return ''.join(sorted(txt))

alphabet_soup("hello")

'ehllo'

In [12]:
def society_name(friends):
    letter = []
    for i in friends:
        letter.append(i[0])
    return ''.join(sorted(letter))

society_name(["Harry", "Newt", "Luna", "Cho"])

def society_name(friends):
	return ''.join(sorted(i[0] for i in friends))

'CHLN'

In [70]:
def format_date(date):
    date = date.split('/')
    date.reverse()
    return ''.join(date)
format_date("11/12/2019")

def format_date(date):
    d = date.split("/")
    return "{}{}{}".format(d[2],d[1],d[0])

def format_date(date):
	m, d, y = date.split('/')
	return ''.join((y, d, m))

'20191211'

In [ ]:

time_for_milk_and_cookies(datetime.date(2013, 12, 24)) ➞ True

In [134]:
import datetime
def time_for_milk_and_cookies(date):
    return True if date.month == 12 and date.day == 24 else False
    #return (date.day==24 and date.month==11)
    
    
time_for_milk_and_cookies(datetime.date(2013, 12, 23))

False

In [135]:
a = datetime.date(month=12, day=11)

TypeError: function missing required argument 'year' (pos 1)

In [8]:
def filter_list(l):
    return [i for i in l if type(i) == int]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

#filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

[0, 1729]

In [22]:
def get_student_names(students):
    return sorted(students.values())

get_student_names({"Student 1" : "Steve","Student 2" : "Becky","Student 3" : "John"})

['Becky', 'John', 'Steve']

In [26]:
a, *other, c = [1, 2, 3, 4, 5, 6]
print(a,other,c)

1 [2, 3, 4, 5] 6

In [46]:
def is_triplet(n1, n2, n3):
    a,b,c = sorted([n1,n2,n3])
    return pow(a,2) + pow(b,2) == pow(c,2) 
  

is_triplet(13, 5, 12)

True

In [94]:
def remove_enemies(names, enemies):
    return[i for i in names if i not in enemies]
remove_enemies(["Fred"], [])

#remove_enemies(["Adam", "Emmy", "Tanya", "Emmy"], ["Emmy"]) ➞ ["Adam", "Tanya"]

#remove_enemies(["John", "Emily", "Steve", "Sam"], ["Sam", "John"]) ➞ ["Emily", "Steve"]

['Adam', 'Tanya']

In [37]:
def profit_margin(cost_price, sales_price):
    return '{:.1f}%'.format(((-cost_price/sales_price) + 1) * 100)
    
    #return str(round((sales_price - cost_price) / sales_price*100,1))+'%'
    
profit_margin(50, 50)

profit_margin(28, 39) 

#profit_margin(33, 84) ➞ "60.7%"

'28.2%'

In [39]:
def compound_interest(p, t, r, n):
    return round(p * (1+r/n)**(n*t),2)
compound_interest(10000, 10, 0.06, 12)

18193.97

In [46]:
def oddOrEven(word):
    return len(word)%2 == 0

oddOrEven("pears")

#oddOrEven("pears") ➞ 'False'

#oddOrEven("cherry") ➞ 'True'

False

In [3]:
def peel_layer_off(lst):
    b = []
    for i in lst:
        b.append(i[1:-1])
    b.pop(0)
    b.pop(-1)
    return b
    
    #	return [i[1:-1] for i in lst[1:-1]]

    
peel_layer_off([
  [1, 2, 3, 4, 5],
  [6, 7, 8, 9, 10],
  [11, 12, 13, 14, 15],
  [16, 17, 18, 19, 20],
  [21, 22, 23, 24, 25],
  [26, 27, 28, 29, 30],
  [31, 32, 33, 34, 35]
])

[[7, 8, 9], [12, 13, 14], [17, 18, 19], [22, 23, 24], [27, 28, 29]]

In [1]:
a = [
  [1, 2, 3, 4, 5],
  [6, 7, 8, 9, 10],
  [11, 12, 13, 14, 15],
  [16, 17, 18, 19, 20],
  [21, 22, 23, 24, 25],
  [26, 27, 28, 29, 30],
  [31, 32, 33, 34, 35]
]

print(list(i[1:-1] for i in a[1:-1]))

[[7, 8, 9], [12, 13, 14], [17, 18, 19], [22, 23, 24], [27, 28, 29]]

In [56]:
def harmonic(n):
    return round(sum(1/i for i in range(1,n+1)),3)
    
    num_harmonic = 0
    for i in range(1,n+1):
        num_harmonic += 1/i
    return round(num_harmonic,3)
    # harmonic=lambda n:round(sum(1/(x+1)for x in range(n)),3)

#harmonic(3)

#harmonic(1) ➞ 1.0

harmonic(5)# ➞ 2.283

2.283

In [134]:
def sort_by_length(lst):
    lst.sort(key=len)
    return lst
    
    return sorted(lst, key=len)
sort_by_length(["a", "ccc", "dddd", "bb"]) # ➞ ["a", "bb", "ccc", "dddd"]

['a', 'bb', 'ccc', 'dddd']

In [160]:
def neutralise(s1, s2):
    s1 = list(s1)
    s2 = list(s2)
    lst = []
    for i,j in zip(s1,s2):
        if i == j and i == '+':
            lst.append('+')
        if i == j and i == '-':
            lst.append('-')
        if i != j:
            lst.append('0')
    return ''.join(lst)

def neutralise(s1, s2):
    return ''.join(a if a == b else '0' for a, b in zip(s1, s2)
    
#neutralise("--++--", "++--++") #➞ "000000"

#neutralise("-+-+-+", "-+-+-+") #➞ "-+-+-+"

neutralise("------++-", "------+++") #➞ "-+00

'------++0'

In [140]:
def is_equal(lst):
    return sum(map(int,(d for d in str(lst[0])))) == sum(map(int,(d for d in str(lst[1]))))

is_equal([105, 42])

True

In [ ]:
def word_builder(ltr, pos):
word_builder(["e", "t", "s", "t"], [3, 0, 2, 1]) ➞ "test"

word_builder(["b", "e", "t", "i", "d", "a"], [1, 4, 5, 0, 3, 2]) ➞ "edabit"

In [164]:
a = ["e", "t", "s", "t"]
b = [3, 0, 2, 1]

['t', 't', 's', 'e']

In [37]:
def reverse(arg):
    return not arg if type(arg) == bool else "boolean not expected"

        

reverse(False) ➞ True

#reverse(0) ➞ "boolean expected"

'boolean not expected'

In [78]:
def find_bob(names):
    return names.index('Bob') if 'Bob' in names else -1
#  return map(int,(names.index(i) for i in names if i == 'Bob'))    
     
find_bob(["Jimmy", "Layla", "Bob"])

#find_bob(["Bob", "Layla", "Kaitlyn", "Patricia"]) ➞ 0

#find_bob(["Jimmy", "Layla", "James"]) ➞ -1

2

In [2]:
def triangle(n):
    return n*(n+1)/2
triangle(6)

21.0

In [16]:
def counterpartCharCode(char):
    return ord(char.upper()) if char.islower() else ord(char.lower()) 

counterpartCharCode("A")

counterpartCharCode("A") ➞ 97

counterpartCharCode("a") ➞ 65

97

In [31]:
def mapping(letters):
    empty = {}
    for i in letters:
        empty[i] = i.upper()
    return empty
mapping(["p", "s"])

#  {i:i.upper() for i in letters}

{'p': 'P', 's': 'S'}

In [4]:
def is_symmetrical(num):
    lst = []
    for i in str(num):
        lst.append(i)
    return int(''.join(reversed(lst))) == num
# num == int(str(num)[::-1])
is_symmetrical(7227)

True

In [21]:
def name_shuffle(txt):
    name = txt.split(' ')
    return '{} {}'.format(name[1], name[0])
        
    
#  return ' '.join(reversed(str.split(' ')))
#  return " ".join(txt.split()[::-1])
name_shuffle("Donald Trump")

'Trump Donald'

In [76]:
def eda_bit(start, end):
    j = lambda start,end:['Eda'*(i%3==0)+'Bit'*(i%5==0) or i or 'EdaBit'*(i==0) for i in range(start,end+1)]
    return j(start,end)

# return ["EdaBit" if x%15==0 else "Bit" if x%5==0 else "Eda" if x%3==0 else x for x in range(start, end+1)]
eda_bit(0, 10)

['EdaBit', 1, 2, 'Eda', 4, 'Bit', 'Eda', 7, 8, 'Eda', 'Bit']

In [77]:
def eda_bit(start, end):
    lst = []
    for x in range(start, end+1):
        if x%3 == 0 and x%5 == 0: lst.append('EdaBit')
        elif x%3 == 0: lst.append('Eda')
        elif x%5 == 0: lst.append('Bit')
        else: lst.append(x)
    return lst
eda_bit(0, 10)

['EdaBit', 1, 2, 'Eda', 4, 'Bit', 'Eda', 7, 8, 'Eda', 'Bit']

In [ ]:
eda_bit(0, 10) ➞ ["EdaBit", 1, 2, "Eda", 4, "Bit", "Eda", 7, 8, "Eda", "Bit" ]

eda_bit(14, 20) ➞ [14,  "EdaBit", 16, 17,  "Eda", 19, "Bit" ]

eda_bit(99, 106) ➞ ["Eda", "Bit", 101, "Eda", 103, 104, "EdaBit", 106 ]

In [62]:
def cars(wheels, bodies, figures):
    return min(wheels//4, bodies, figures//2)
    
cars(43, 15, 87)

10

In [92]:
def index_of_caps(word):
    return [word.index(i) for i in word if i.isupper()]
    #   return [index for index, letter in enumerate(word) if letter.isupper()]

index_of_caps("eQuINoX")

[1, 3, 4, 6]

In [93]:
a = "eQuINoX"
list(enumerate(a))

[(0, 'e'), (1, 'Q'), (2, 'u'), (3, 'I'), (4, 'N'), (5, 'o'), (6, 'X')]

In [13]:
def unique(lst):
    return [i for i in lst if lst.count(i) == 1][0]
    # return min(unique, key= lst.count())

unique([0, 0, 0.77, 0, 0])

0.77

In [27]:
def circle_or_square(rad, area):
    return math.pi*2*rad > math.sqrt(area)*4
circle_or_square(5, 100)

False

In [58]:
def are_true(a, b):
    return 'both' if a==True and b==a else 'first' if a==True and b!=a  else 'second' if b==True and a!=b else 'neither'
are_true(False,True)

#def are_true(a, b):
#    return {(1,1): 'both', (0,0): 'neither',
#           (1,0): 'first', (0,1): 'second'}[a, b]

#def are_true(a, b):
#    return 'both' if a and b else 'first' if a else 'second' if b else 'neither'

'second'

In [84]:
def war_of_numbers(lst):
    a = [sum([i for i in lst if i%2 != 0]),sum([i for i in lst if i%2 == 0])]
    return max(a)-min(a)

war_of_numbers([12,  90,  75])

#war_of_numbers([5, 9, 45, 6, 2, 7, 34, 8, 6, 90, 5, 243]) ➞ 168

27

In [92]:
def is_in_order(txt):
    return list(txt)==sorted(txt)
is_in_order("edabit")

# return txt == "".join(sorted(txt))

False

In [100]:
import numpy as np
def array_less_than_100(lst):
    return np.sum(lst) < 100

array_less_than_100([0])

True

In [112]:
def sort_word(word):
    word = word.split('')
    word = list(word.sort())
    final_word = ''f
    
    for char in word
        final_word = final_word + char

    return final_word

  # return ''.join(sorted(list(a)))

2.0

In [163]:
def clone(lst):
	lst.append(list(lst))
	return lst
clone([1, 1])

[1, 1, [1, 1]]

In [ ]:
def index_multiplier(lst):
    sum([i*j for i,j in enumerate(lst)])
    
    #return sum([i*lst[i] for i in range(len(lst))])

In [67]:
def convert_to_decimal(perc):
    #return [float(i.strip('%'))/100 for i in perc]
    return [float(item[:-1])/100 for item in perc]
    
convert_to_decimal(["45%", "32%", "97%", "33%"])

[0.45, 0.32, 0.97, 0.33]

In [1]:
lst1 = ['friends','John','Joe','Jack']
lst2 = ['loves','E','da','bit']
lst3 = ['pokemon','Metapod','Magikarp','Unown']

'My {} are: {}, {} and {}.'.format(*lst2)

'My loves are: E, da and bit.'

In [1]:
def calculator(num1, operator, num2):
    try:
        print(eval(str(num1) + operator + str(num2)))
    except:
        print("Can't divide by 0!")
        
calculator(1,"-",0)

1

In [90]:
def sort_by_length(lst):
    return sorted(lst, key=len)

sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [114]:
def sum_of_evens(lst):
    return sum([j for i in lst for j in i if j%2==0])

# sum_of_evens=lambda l:sum(j for i in l for j in i if j%2==0)

# return sum(i[j] for i in lst for j in range(len(lst[0])) if not i[j]%2)

sum_of_evens([
  [1, 1],
  [1, 1]
])

0

In [129]:
def add_indexes(lst):
    return [sum(i) for i in list(enumerate(lst))]
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [16]:
def emotify(txt):
    emoti = {'smile':':D',
         'grin':':)',
         'sad': ':(',
         'mad':':P'}
    return 'Make me {}'.format(emoti[txt.split(' ')[2]])

    #for k, v in emoti.items():
     #  txt = txt.replace(k, v)
    #return txt


emotify("Make me smile")

'Make me :D'

In [26]:
def return_only_integer(lst):
    return [i for i in a if type(i) == int]

return_only_integer([9, 2, "space", "car", "lion", 16])

[10, 56, 20, 3]

In [65]:
def trace(lst):
    return sum([a[i][i] for i in range(len(lst[0]))])

trace([
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
])

6

In [6]:
def probability(lst, n):
    return round(len([i for i in lst if i >= n])/len(lst)*100,1)

probability([7, 4, 17, 14, 12, 3], 16)

16.7

In [64]:
def asc_des_none(lst, s):    
    b = {'Asc':0,'Des':1}
    return sorted(lst, reverse= b[s]) if s in ['Asc','Des'] else lst

# return lst if s == 'None' else sorted(lst, reverse=(s=='Des'))

asc_des_none([7, 8, 11, 66], "Des")

[66, 11, 8, 7]

In [96]:
def can_alternate(s):
    return abs(a.count('0') - a.count('1')) in [0,1]  and not (len(a) == abs(a.count('0') - a.count('1')))

can_alternate("010001")

True

In [47]:
def remove_vowels(txt):
    return ''.join([i for i in txt if i not in 'AEIOUaeiou'])
    #return txt.translate({ord(c):'' for c in 'aeiouAEIOU'})
remove_vowels("We're gonna build a wall!")

"W'r gnn bld  wll!"

In [73]:
def is_anagram(s1, s2):
    return sorted(s1.lower()) == sorted(s2.lower())

is_anagram("cristian", "Cristina")

True

In [93]:
def is_isogram(txt):
    return len(list(txt)) == len(set(txt.lower()))

is_isogram("Consecutive")

False

In [114]:
def print_all_groups():
    return ', '.join([str(num)+lett for num in range(1,7) for lett in 'abcde'])

In [28]:
import re
txt = "242Edabit2345can3443be3254324addictive!"
pattern = '\D+'

" ".join(re.findall(pattern, txt)) # "Edabit can be addictive!"

'Edabit can be addictive!'

In [84]:
def is_subset(lst1, lst2):
    return sorted([i for i in lst2 if i in lst1]) == sorted(lst1)
    # retunr set(a) <= set(b)
    # return all([i in b for i in a])
is_subset([1, 3], [3, 5, 9, 1])

True

In [197]:
def nth_smallest(lst, n):
    return [j for i,j in enumerate(sorted(lst)) if i+1 == n]

nth_smallest([1, 3, 5, 7], 3)

[5]

In [207]:
def one_list(lst):
    return [j for i in lst for j in i]
    # return lst[0]+lst[1]
one_list([[True, False], [False, False]])

[True, False, False, False]

In [21]:
def which_is_larger(f, g):
    return 'neither' if f() == g() else 'g' if f() < g() else 'f'

which_is_larger(lambda: 505050, lambda: 5050)

'f'

In [57]:
def halloween(dt):
    return 'Bonfire toffee' if dt[-5:] == '10/31' else 'toffee'
    # return 'Bonfire toffee' if dt.endswith('10/31') else 'toffee'
halloween("2012/07/31")

'toffee'

In [64]:
a = "2013/10/31"

b = tuple([int(i) for i in a.split('/')])

(2013, 10, 31)

In [99]:
def amplify(num):
    return [x*10 if x%4 == 0 else x for x in range(1,num+1)]
    #lst = []
    #for i in range(1,amplify+1):
     #   if i%4 != 0:
      #      lst.append(i)
       # else:
        #    lst.append(i*10)
    #return lst
    
amplify(12)

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120]

In [ ]:
class Rectangle:

	def __init__(self, sideA=0, sideB=0):
		self.sideA = sideA
		self.sideB = sideB

	def getArea(self):
		return self.sideA * self.sideB
  
	def getPerimeter(self):
		return 2 * (self.sideA + self.sideB)

class Circle:

In [ ]:
circy = Circle(11)
circy.getArea()

# Should return 380.132711084365

circy = Circle(4.44)
circy.getPerimeter()

# Should return 27.897342763877365

In [49]:
def longest_word(s):
    return max(s.split(' '), key=len)
    # 1- lst = a.split(' ')
    # 2- [k for k in lst if len(k) == max([len(i) for i in lst])][0]

longest_word("Forgetfulness is by all means powerless!")

'Forgetfulness'

In [60]:
def shift_to_left(x, y):
    return x * pow(2,y)

shift_to_left(-32, 2)

-128

In [83]:
def count():
    return len(str(abs(n)))
    #return len([i for i in str(n).strip('-')])

count(-92563)

5

In [105]:
def num_args(*args):
    return len(args)

num_args(True, False)

2

In [30]:
def sum_fractions(lst):
    return math.floor(sum([i[0]/i[1] for i in a]))
    #return round(sum(n/d for n, d in lst))
    
sum_fractions([[11, 2], [3, 4], [5, 4], [21, 11], [12, 6]])

11

In [51]:
def greet_people(names):
    return ', '.join(['Hello {}'.format(i) for i in names])
    # return ', '.join(['Hello ' + i for i in n])
    
greet_people(["Frank", "Angela", "Joe"])

'Hello Frank, Hello Angela, Hello Joe'

In [20]:
def profit(info):
    return round(info.get('sell_price')*info.get('inventory') - info.get('cost_price')*info.get('inventory'))

profit({"cost_price": 32.67,"sell_price": 45.00,"inventory": 1200})

14796

In [38]:
class Circle:
    import math
    def __init__(self, radius):
        self.radius = radius
    
    def getPerimeter(self):
        return self.radius*2*math.pi
    
    def getArea(self):
        return math.pi*self.radius**2

In [37]:
circy = Circle(4.44)
circy.getPerimeter()

27.897342763877365

In [48]:
def showdown(p1, p2):
    return 'p1' if p1.index('B') < p2.index('B') else 'p2' if p1.index('B') > p2.index('B') else 'tie'


showdown(
  "     Bang!   ",
  "     Bang!   "
)

'tie'

In [80]:
def add_name(obj, name, value):
    obj[name] = value
    return obj
    #obj.update([(name,value)])
    #return obj

add_name({ "piano": 500 }, "Brutus", 400)

{'piano': 500, 'Brutus': 400}

In [12]:
def list_of_multiples (num, length):
    return [i * num for i in range(1,length+1)]

list_of_multiples(12, 10)

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [31]:
def remove_smallest(lst):
    if len(lst) != 0:
        lst.remove(min(lst))  
    else:
        []
    return lst

remove_smallest([5, 3, 2, 1, 4])

[5, 3, 2, 4]

In [81]:
def shhh(txt):
    return '\"{}", {}'.format(a.capitalize(),'whispered Edabit.')

shhh("HI THERE!")

'"Hi there!", whispered Edabit.'

In [82]:
s = 'She looks \"stunningly\" and \"beautifully\"  \"sexy\"!'
s

'She looks "stunningly" and "beautifully"  "sexy"!'

In [126]:
def simon_says(lst1, lst2):
    return a[:-1] == b[1:]

def simon_says(lst1, lst2):
    for i in range(len(lst1)-1):
        if lst2[i+1]!=lst1[i]: return False
    return True

def simon_says(lst1, lst2):
    return not any(x - y for x, y in zip(lst1, lst2[1:]))

simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4])

True

In [25]:
def add(n1, n2):
    return int(n1) + int(n2) if len(n1) != 0 and len(n2) != 0 else 'Invalid Operation'

add("", "20")

'Invalid Operation'

In [ ]:
add("111", "111") ➞ "222"

add("10", "80") ➞ "90"

add("", "20") ➞ "Invalid Operation"

In [18]:
lst1 = ""
lst2 = "111"

[int(lst1) + int(lst2) if len(lst1) != 0 and len(lst2) != 0 else 'Invalid Operation']

['Invalid Operation']

In [63]:
def calculate_score(games):
    abigail = []
    tom = []
    for i,j in games:
        if i == j:
            abigail.append(0)
            tom.append(0)
        else:
            abigail.append({('R','S'):(1,0),
                    ('R','P'):(0,1),
                    ('P','S'):(0,1),
                    ('S','R'):(0,1),
                    ('P','R'):(1,0),
                    ('S','P'):(1,0)}[i,j][0])
            tom.append({('R','S'):(1,0),
                ('R','P'):(0,1),
                ('P','S'):(0,1),
                ('S','R'):(0,1),
                ('P','R'):(1,0),
                ('S','P'):(1,0)}[i,j][1])
    
    return 'Abigail' if sum(tom) < sum(abigail) else 'Benson' if sum(tom) > sum(abigail) else 'Tie'

In [66]:
calculate_score([["R", "R"], ["R", "R"], ["R", "R"]])

'Tie'

In [ ]:
def calculate_score(array):
    Abigail = 0
    Benson = 0
    for i in range(len(array)):
        if (array[i][0] == "R" and array[i][1] == "S") :Abigail += 1
        if (array[i][0] == "S" and array[i][1] == "P") :Abigail += 1
        if (array[i][0] == "P" and array[i][1] == "R") :Abigail += 1
        if (array[i][0] == "S" and array[i][1] == "R") :Benson += 1
        if (array[i][0] == "P" and array[i][1] == "S") :Benson += 1
        if (array[i][0] == "R" and array[i][1] == "P") :Benson += 1
    return 'Tie' if Abigail==Benson else 'Abigail' if Abigail>Benson else 'Benson'

def calculate_score(games):
	w = {'R': 'S', 'S': 'P', 'P': 'R'}
	a, b = 0, 0
	for i in games:
		if w[i[0]] == i[1]: a += 1
		elif w[i[1]] == i[0]: b += 1
	return 'Abigail' if a > b else 'Benson' if a < b else 'Tie'

def calculate_score(games):
	d = {'R': 'S', 'P': 'R', 'S': 'P'}
	s = sum(1 if d[A] == B else 0 if A == B else -1 for A, B in games)
	return 'Abigail' if s > 0 else 'Benson' if s < 0 else 'Tie'

In [ ]:
index_filter([2, 3, 8, 11], "Autumn in New York") ➞ "tune"

index_filter([0, 1, 5, 7, 4, 2], "Cry me a river") ➞ "creamy"

index_filter([9, -9, 2, 27, 36, 6, 5, 13, -1, 2, 0, 30, 2], 
  "That's life, I've got you under my skin") ➞ "frank sinatra"

In [83]:
def index_filter(indexes, string):
    return ''.join([string[i].lower() for i in indexes])

index_filter([0, 1, 5, 7, 4, 2], "Cry me a river")

'creamy'

In [ ]:
def car_timer(n):

In [ ]:
car_timer(240) ➞ 4
# 240 minutes have passed since 00:00, the current time is 04:00
# Digits sum up is 0 + 4 + 0 + 0 = 4

car_timer(808) ➞ 14

car_timer(14) ➞ 5

In [142]:
import math 

def car_timer(n):
    return print('{}:{}'.format(math.floor(n/60),str(n/60).split('.')[1][:2]))

car_timer(808)

13:46

In [202]:
def sort_descending(num):
    return int(''.join(sorted([i for i in str(num)], reverse=True)))

In [ ]:
sort_descending(123) ➞ 321

sort_descending(1254859723) ➞ 9875543221

sort_descending(73065) ➞ 76530

In [204]:
sort_descending(73065)

76530

In [258]:
def total_sales(sales_table, product):
    for i in sales_table[1:]:
        if product in sales_table[0]:
            return sum([i[lst[0].index(product)] for i in sales_table[1:]])
        else:
            return 'Product not found'

In [259]:
total_sales([
  ["A", "B", "C"],
  [ 2 ,  7 ,  1 ],
  [ 3 ,  6 ,  6 ],
  [ 4 ,  5 ,  5 ]
], "D")

'Product not found'

In [264]:
def sum_odd_and_even(lst):
    odd = [j for j in lst if j%2 != 0]
    even = [i for i in lst if i%2 == 0]
    return sum(odd), sum(even)

In [ ]:
sum_odd_and_even([1, 2, 3, 4, 5, 6]) ➞ [12, 9]
# 2 + 4 + 6 = 12 and 1 + 3 + 5 = 9

sum_odd_and_even([-1, -2, -3, -4, -5, -6]) ➞ [-12, -9])

sum_odd_and_even([0, 0]) ➞ [0, 0]

In [267]:
sum_odd_and_even([0, 0])

(0, 0)

In [40]:
def reverse_odd(txt):
    return ' '.join([i[::-1] if len(i)%2 != 0 else i for i in txt.split(' ')])

reverse_odd("One two three four")

'enO owt eerht four'

In [193]:
def find_nemo(sentence):
    return 'I found Nemo at {}!'.format(sentence.split(' ').index('Nemo')+1) if 'Nemo' in sentence.split(' ')else "I can't find Nemo :("

def find_nemo(sentence):
    for idx, i in enumerate(sentence.split(), 1):
        if i == 'Nemo':
            return "I found Nemo at {}!".format(idx)
    return "I can't find Nemo :("

In [196]:
find_nemo("I am finding Nemo !")

'I found Nemo at 4!'

In [81]:
import regex as re

def correct_title(txt):
    lst = []
    lst_1 = []
    
    for i in re.split('([-])', txt):
        if i.lower() not in ['and', 'the', 'of', 'in']:
            lst.append(i.capitalize())
        else:
            lst.append(i.lower())
        
    for j in ''.join(lst).split(' '):
        if j not in ['and', 'the', 'of', 'in']:
            lst_1.append(j[0].upper()+j[1:])
        else:
            lst_1.append(j.lower())
    return ' '.join(lst_1)

In [ ]:
def correct_title(txt):
    txt = txt.title()
    for val in ["And ", "The", "Of", "In", "'S"]:
        txt = txt.replace(val, val.lower())
    return txt

In [1]:
import re
def correct_title(txt):
    return ''.join([w if w in ['and','the','of','in'] else w.capitalize() for w in re.split('([ -])',txt.lower())])

In [ ]:
correct_title("jOn SnoW, kINg IN thE noRth.")
➞ "Jon Snow, King in the North."

correct_title("sansa stark, lady of winterfell.")
➞ "Sansa Stark, Lady of Winterfell."

correct_title("TYRION LANNISTER, HAND OF THE QUEEN.")
➞ "Tyrion Lannister, Hand of the Queen."

In [82]:
correct_title('Mance Rayder, King-Beyond-The-Wall.')

'Mance Rayder, King-Beyond-the-Wall.'

In [26]:
# Write a function that takes coordinates of two points on a two-dimensional plane and returns
# the length of the line segment connecting those two points.

import math
def line_length(dot1, dot2):
    return round(math.sqrt(sum([(i-j)**2 for i,j in zip(dot2, dot1)])),2)

In [ ]:
line_length([15, 7], [22, 11]) ➞ 8.06

line_length([0, 0], [0, 0]) ➞ 0

line_length([0, 0], [1, 1]) ➞ 1.41

In [36]:
def quadratic_equation(a, b, c):
    return (-b + math.sqrt(b**2 - 4*a*c))/(2*a)

In [ ]:
quadratic_equation(1, 2, -3) ➞ 1

quadratic_equation(2, -7, 3) ➞ 3

quadratic_equation(1, -12, -28) ➞ 14

In [43]:
def area_of_country(name, area):
    return "{} is {:.2f}% of the total world's landmass".format(name, area/148940000*100)

In [ ]:
area_of_country("Russia", 17098242) ➞ "Russia is 11.48% of the total world's landmass"

area_of_country("USA", 9372610), "USA is 6.29% of the total world's landmass"

area_of_country("Iran", 1648195) ➞ "Iran is 1.11% of the total world's landmass"

In [162]:
import numpy as np

def is_magic_square(square):
    h = []
    v = []
    n_d = []
    i_d = []
    square = np.array(square)
    
    for i in range(len(square)):
        h.append(sum(square[i]))
        v.append(square.transpose()[i].sum())
        n_d.append(square[i][i])
        i_d.append(square[i][::-1][i])
    
    return len(set(np.concatenate((list(set(h)),list(set(v)),sum(n_d),sum(i_d)), axis=None))) == 1

In [ ]:
is_magic_square([
  [8, 1, 6],
  [3, 5, 7],
  [4, 9, 2]
]) ➞ True

is_magic_square([
  [16,  3,  2, 13],
  [ 5, 10, 11,  8],
  [ 9,  6,  7, 12],
  [ 4, 15, 14,  1]
]) ➞ True

is_magic_square([
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]) ➞ False

In [166]:
is_magic_square([
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
])

False

In [8]:
def number_length(num):
    return sum([1 for i in str(num)])

In [ ]:
number_length(10) ➞ 2

number_length(5000) ➞ 4

number_length(0) ➞ 1

In [27]:
def combinations(*items):
    lst = 1
    for i in range(len(items)):
        lst = lst*items[i]
    return lst

In [ ]:
combinations(2, 3) ➞ 6

combinations(3, 7, 4) ➞ 84

combinations(2, 3, 4, 5) ➞ 120

In [99]:
def bonus(days):
    if days > 48:
        money = [(days-48)*600, (48-40)*550, (40-32)*325]
    elif 40 < days <= 48:
        money = [(days-40)*550, (40-32)*325]
    elif 32 < days <= 40:
        money = [(days-32)*325]
    else:
        money = []
    return sum(money)

In [ ]:
Days	Bonus
0 to 32 days	Zero
33 to 40 days	SGD$325 per billable day
41 to 48 days	SGD$550 per billable day
Greater than 48 days	SGD$600 per billable day

32*0 + 8*325 + 5*550 = 5350

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [103]:
bonus(45)

5350